//- img(style="width:400px; display:block; margin:0 auto;"
//-   src="/home/calcgen2/pressureVessel/del_me/logo.png")
img(src="file:///{{ img }}" alt="Project Logo3")

#sidebar Calcgen report on pressure vessel

h1 {{ title }}

.ui.piled.segment
  p Oh hi there ! I am some text in a cool box.

h3 Our Data

{{ pdf_tools.dataframe_to_html(dataframe) }}

center
  - var figure = dataframe.plot("Age", "Height (cm)")
  img(src="{{ pdf_tools.figure_data(figure, (6, 4)) }}")