//- img(style="width:400px; display:block; margin:0 auto;"
//-     src="./logo.png")
img(src="./logo.png" alt="Project Logo")
img(src="./pvessel.png" alt="vessel photo")

#sidebar I am the text in the sidebar.

h1 {{ title }}

.ui.piled.segment
  p Oh hi there ! I am some text in a cool box.