//- img(style="width:400px; display:block; margin:0 auto;"
//-   src="/home/calcgen2/pressureVessel/del_me/logo.png")
img(src="file:///{{ img }}" alt="Project Logo3")

#sidebar I am the text in the sidebar.

h1 {{ title }}

.ui.piled.segment
  p Oh hi there ! I am some text in a cool box.