//- img(style="width:400px; display:block; margin:0 auto;"
//-   src="/home/calcgen2/pressureVessel/del_me/logo.png")
img(src="/home/calcgen2/pressureVessel/del_me/logo.png" alt="Project Logo3")
//- img(src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")

#sidebar I am the text in the sidebar.

h1 {{ title }}

.ui.piled.segment
  p Oh hi there ! I am some text in a cool box.