body {
  margin: 50px;
  background: #e6e6fa;
  font-size: 20px;
  text-align: center;
  /* display: inline-block; */
  margin: auto;
}

.calcgen {
  /* margin-left: 80px;
  margin-right: 70px; */
  margin: auto;
  /* position: fixed; */
  top: 1cm;
  left: 1cm;
  background-color: red;
}

.calcgen2 {
  margin-left: 8px;
}

.CR {
  text-align: center;
  /* margin-left: 540px; */
}

.h1 {
  color: red;
}

.img {
  width: 25px;
  height: 50px;
  background: #fffff0;
}

.cp2 {
  font-size: 2px;
  text-align: center;
  background: #f5f5dc;
  padding: 10px;
}

#d1 {
  background: #b0c4de;
  padding: 5px;
}

.pgof {
  background: #f0ffff;
  padding: 5px;
}

#ve {
  background: #191970;
  text-align: center;
  color: white;
}

.table-header {
  text-align: center;
}

.table-second {
  margin-right: 115px;
  margin-left: 75px;
}

.table-second th,
.table-second td {
  border: 1px solid black;
}

/* table 3  */

.t3-head thead tr {
  text-align: center;
  background: #f5f5dc;
}

.toc {
  text-align: center;
}

#toc1 {
  font-size: 14px;
  color: #191970;
}

.table-ns {
  margin: 0 auto;
  width: 80%;
}

.table-ns td {
  text-align: center;
  background-color: #ffffff;
  /* color: #191970; */
}

.table-ns th {
  padding: 15px;
  color: black;
  /* background-color: #b0e0e6; */
  background-color: #00008b;
  color: #ffffff;
  text-align: center;
  margin-left: 300px;
}

.ns-td {
  color: black;
}

#img-nozzle {
  width: 20px;
}

#hello555 {
  font-size: 40px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.vc3 {
  color: darkblue;
  font-size: 20px;
  text-align: center;
  background-color: #00ced1;
  margin-bottom: 8px;
}

.vc4 {
  color: darkblue;
  font-size: 20px;
  text-align: center;
  background-color: #00ced1;
}

.cy1 {
  padding-top: 10px;
}

.repeat-heading {
  color: black;
  font-family: "Times New Roman", Times, serif;

  /* margin-right: 80px; */
  /* margin: auto; */
}

.table-max th {
  padding: 5px;
  /* margin: 2px 5px; */
  background-color: #00008b;
  color: #f5f5dc;
  width: 2px;
  height: 12px;
  border: 1px solid blue;
}

/* 
.table-max {
  max-width: 120px;
  width: auto;
  border: 1px solid;
  padding: 0.2rem;
} */
.th-small {
  border: 1px solid black;
  padding: 0px;
  font-size: 10px;
  margin-right: 200px;
}

.max-1 tr {
  /* margin-left: 50px; */
  font-size: 10px;
  overflow: hidden;
  margin: auto;
}

.max-1 th {
  background-color: #00008b;
  color: white;
}

.repeat-heading h3 {
  float: left;
}

#hello555 h3 {
  float: left;
}
.header-image{
  border: 22px dotted red;
}