.Button {
    /* background-color: transparent;
    border: none; */
    width:100px;
    background-color: #888;
    cursor: pointer;
    border: 1px solid #888;
    color: white;
    outline: none;
    font: inherit;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    color: #fff;
}

.Danger {
    color: #fff;
}