<div  class="content">
          {% comment %} <h5 style="text-align: center;color: black;">Area</h5> {% endcomment %}
        <div class="ns">
          <h5 style="text-align: center;color: black;">Area</h5>
          <div>
            <table style="border: darkblue 2px solid;" id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>Abbreviation</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                   
                    

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
  
                  </tr>
                  
                </tbody>
            </table>
        </div>
              <br>
              <br>
        </div>  
        <br>
        <!-- Temperature -->
        <div class="ns">
          <h5 style="text-align: center;color: black;">Temperature</h5>
          <div>
            <table style=" border: darkblue 2px solid;" id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>Abbreviation</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                   
                    

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
  
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <br>
              <br>
        </div>
        <br>
        <br>
        <!-- Angle -->
        <div class="ns">
          <h5 style="text-align:center;color:black;">Angle</h5>
          <div>
            <table style=" border: darkblue 2px solid;" id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>Abbreviation</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                   
                    

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
  
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <br>
              <br>
        </div>
        <br>
        <br>
        <!-- Distance -->
        <div class="ns">
          <h5 style="text-align: center;color: black;">Distance</h5>
          <div>
            <table id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>Abbreviation</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                   
                    

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
  
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <br>
              <br>
        </div>
        <br>
        <br>
        <!-- Frequency -->
        <div class="ns">
          <h5 style="text-align: center;color: black;">Frequency</h5>
          <div>
            <table  id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>Abbreviation</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                   
                    

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
  
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <br>
              <br>
        </div>
        <br>
        <br>
        <!-- max -->
      

        <br />
        <br />        

      
        <!-- pipe-->
        <div class="ns">
          <h5 style="text-align: center;color: black;">Pipe</h5>
          <div>
            <table  id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>4</th>
                    <th>0.125</th>
                    <th>0.405</th>
                    <th>0.307</th>
                    <th>10S</th>
                    <th>0.409</th>
                    <th>0.1863</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

  
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <br>
              <br>
        </div>
        <br>
        <!-- Pressure -->
        <div class="ns">
          <h5 style="text-align: center;color: black;">Pressure</h5>
          <div>
            <table style="border: darkblue 2px solid;" id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>Abbreviation</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                   
                    

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
  
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <br>
              <br>
        </div>
        <br>
        <br>
        <!-- weight -->
        <div class="ns">
          <h5 style="text-align: center;color: black;">weight</h5>
          <div>
            <table style="border: darkblue 2px solid;" id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>Abbreviation</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                   
                    

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
  
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <br>
              <br>
        </div>
        <br>
        <br>
        <!-- speed -->
        <div class="ns">
          <h5 style="text-align: center;color: black;">speed</h5>
          <div>
            <table style="border: darkblue 2px solid;" id="table5">
                <thead>
                  <!-- <tr>
                    <th colspan="9" id="spec"> specifications</th>
                  </tr> -->
                  <tr>
                    <th>S.N</th>
                    <th>Abbreviation</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ns-td">1</td>
                    <td></td>
                    <td></td>
                    
                    

                  </tr>
                  <tr>
                    <td class="ns-td">2</td>
                    <td></td>
                    <td></td>
                   
                    

                  </tr>
                  <tr>
                    <td class="ns-td">3</td>
                    <td></td>
                    <td></td>
  
                  </tr>
                  
                </tbody>
              </table>
            </div>
              <br>
              <br>
        </div>
        <br>
        <br>
        <!-- Volume -->
        
</div>  