  {% load static %}
  <head>
  <style>
    @page {
    @top-left {
        content: element(#pagescounter);
    }
  }
  @media print {
    #divHeader{
        position: running(#pagescounterof);
    }
  }
  </style> 
  </head>
  <body>
  <div
    class="headerone"
    style="font-family: Georgia, 'Times New Roman', Times, serif";
  >

    <p style="border-bottom:3px solid blue;"><img class="header-image" src="{% static 'reporter/images/latest1.png' %}"></p>
    
    <div class="container">
      <div id="tablenew">
        <!-- {{allblogs.Title}} -->
        <table class="calcgen">
          {% comment %} <h1 class="CR">Calcgen Report</h1> {% endcomment %}
          <tr>
            <th class="img" colspan="2" rowspan="2">
            <img class="img1" width="120px" height="80px" src="{% static 'reporter/images/image4.png' %}">
            </th>
            <th colspan="1" rowspan="2" class="cp2">
              <h2 style="font-size: 20px;">Calcgen Solutions</h2>
              <h2 style="font-size:20px;">Project Specifications</h2>
            </th>

            <th rowspan="1" colspan="4" id="d1">Document No:</th>
          </tr>
          <tr style="padding: 5px" class="pgof">
            <th colspan="1" rowspan="1">
              <span id="pagescounter">Project id&nbsp;:&nbsp;</span>
            </th>
            <th colspan="3" rolspan="1">
              <span id="pagescounterof">Project Name&nbsp;:&nbsp;</span>
            </th>
          </tr>
          <tr>
            <td colspan="7" rowspan="1" id="ve">
              <strong>vessel express</strong>
            </td>
          </tr>
        </table>
        <br>
   
      </div>
    </div>
    
  
  </div>
  </body>