{% load static %}
<table class="c46">
    <tbody>
        <tr class="c54">
            <td class="c41" colspan="1" rowspan="2">
                <p class="c6"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 170.00px; height: 48.00px;"><img
                            alt="" src="{% static 'reporter/images/image4.png' %}" style="width: 170.00px; height: 48.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                            title=""></span></p>
            </td>
            <td class="c51" colspan="1" rowspan="2">
                <h3 class="c20" id="h.i6lyjb5k7lzk"><span class="c5 c22"> Calcgen Solutions</span></h3>
                <h3 class="c20" id="h.i6lyjb5k7lzk-1"><span class="c5 c22">Project Specifications</span></h3>
            </td>
            <td class="c21" colspan="2" rowspan="1">
                <p class="c6"><span class="c27 c52">Document No.: {{ projectID }}</span></p>
            </td>
        </tr>
        <tr class="c34">
            <td class="c10" colspan="1" rowspan="1">
                <p class="c6"><span class="c5 c23">Page:</span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c30"><span class="c23">&nbsp;of </span></p>
            </td>
        </tr>
        <tr class="c7">
            <td class="c44" colspan="4" rowspan="1">
                <h3 class="c20" id="h.4cz19aw652tp"><span class="c5 c22">VesselExpress</span></h3>
            </td>
        </tr>
    </tbody>
</table>