<!DOCTYPE html>
<html>
<head lang="en">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reporter/typography.css' %}">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <img src="{% static 'reporter/images/calc_logo.png' %}" alt="logo not found">
    <img src="{% static 'reporter/images/pvessel.png' %}" alt="vessel image not found">
    <h1>Calcgen Report - PressureVessel</h1>
    <h2>Author: {{ author }}</h2>
    <h3>Table of contents</h3>
    <ul>
        <li>Scope</li>
        <a href='#deficiency_summary'>
            <li>Deficiency Summary</li>
        </a>
        <li>Nozzle Schedule</li>
        <a href='#calculation'>
            <li>Vessel Calculations</li>
        </a>
    </ul>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, necessitatibus ad. Laboriosam, reprehenderit temporibus nihil eos quia quod aliquam vero. Necessitatibus porro perferendis laudantium velit itaque est assumenda doloremque natus!

    </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem eveniet officia voluptas incidunt architecto iusto enim consequatur excepturi similique voluptatum quod, totam obcaecati culpa nemo aliquam fugit saepe est repellendus!</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    {{ material_spec_num }}
    <h4 id='deficiency_summary'>Deficiency Summary</h4>
</body>
</html>




{% load static %}
  <head>
  <style>
  
  </style>
  </head>
  <body>
  <div class="headerone"
    style="font-family: Georgia, 'Times New Roman', Times, serif">

   <p style="border-bottom:3px solid blue;margin-top:10px;"><img class="header-image" src="{% static 'flangeapp/images/latest1.png' %}"></p>

    <div class="container">
      <br />
      <br />
      <br />

      <!-- {{allblogs.Title}} -->
      <table class="calcgen" style="background-color: black;overflow:hidden;">
        <!-- <h1 class="CR">Calcgen Report</h1> -->
        <tr>
          <th class="img" colspan="5" rowspan="2">
            <img
              class="img1"
              width="75px"
              height="128px"
              src="{% static 'flangeapp/images/image4.png' %}"
            />
          </th>

          <th colspan="#" rowspan="2" class="cp2"style="height:20%">
            <h2 style="font-size: 20px;">Calcgen Solutions</h2>
            <h2 style="font-size:20px;">Project Specifications</h2>
          </th>

          <th rowspan="1" colspan="4" id="d1">Document No{{ name }}</th>
        </tr>
        <tr class="pgof">
          <th colspan="2" rowspan="1">
            <span id="pagescounter" style="font-size:15px;">Project ID&nbsp;:&nbsp;</span>
          </th>
          <th colspan="2" rolspan="1">
            <span id="pagescounterof" style="font-size:15px;">Project name:<br>hahahahaha</span>
          </th>
        </tr>
        <tr>
          <td colspan="10" rowspan="2" id="ve">
            <strong>Flange Calculator</strong>
          </td>
        </tr>
      </table>
    </div>
</div>  
</body>
