<p># Lifting Lug {{ lugParams.component_id }}</p>
<b>Lift Forces</b>
<br>
F<sub>r</sub> = [W / cos(&Phi;<sub>1</sub>)]*(1 - x<sub>1</sub> / (x<sub>1</sub> + x<sub>2</sub>))<br>
= [{{ lugParams.W }} / cos({{ lugParams.phi }})]*(1 - {{ lugParams.x_1 }} / ({{ lugParams.x_1 }} + {{ lugParams.x_2 }}))<br>
= {{ lugParams.F_r }}lb<sub>f</sub>
<br><br>
<b>Lug Pin Diameter - Shear stress</b>
<br>
d<sub>reqd</sub> = (2*F<sub>r</sub> / (&Pi;*&sigma;))<sup>0.5</sup><br>
= (2*{{ lugParams.F_r }} / (&Pi;*{{ lugParams.sigma_s }}))<sup>0.5</sup><br>
= {{ lugParams.d_reqd }}in
<br>
d<sub>reqd</sub> / D<sub>p</sub> = {{ lugParams.d_reqd }} / {{ lugParams.D_p }} = {{ lugParams.diameter_ratio }}
<br>
&sigma; = F<sub>r</sub> / A<br>
= F<sub>r</sub> / (2*(0.25*&Pi;*D<sub>p</sub><sup>2</sup>))<br>
= {{ lugParams.F_r }} / (2*(0.25*&Pi;*{{ lugParams.D_p }}<sup>2</sup>))<br>
= {{ lugParams.sigma_sd_calc }}psi
<br>
&sigma; / &sigma;<sub>s</sub> = {{ lugParams.sigma_sd_calc }} / {{ lugParams.sigma_s }}
<br><br>
<b>Lug Thickness - Tensile stress</b>
<br>
t<sub>reqd</sub> = F<sub>r</sub> / ((L - d)*&sigma;<sub>t</sub>)<br>
= {{ lugParams.F_r }} / (({{ lugParams.L }} - {{ lugParams.d }})*{{ lugParams.sigma_t }})<br>
= {{ lugParams.t_reqd_tensile }}
<br>
t<sub>reqd</sub> / t = {{ lugParams.t_reqd_tensile }} / {{ lugParams.t }} = {{ lugParams.thickness_ratio }}
<br>
&sigma; = F<sub>r</sub> / A<br>
= F<sub>r</sub> / ((L-d)*t)<br>
= {{ lugParams.F_r }} / (({{ lugParams.L }} - {{ lugParams.d }})*{{ lugParams.t }})<br>
= {{ lugParams.sigma_t_calc }}
<br>
&sigma; / &sigma;<sub>t</sub> = {{ lugParams.sigma_t_calc }} / {{ lugParams.sigma_t }} = {{ lugParams.sigma_t_ratio }}
<br><br>
<b>Lug Thickness - Bearing stress</b>
<br>
t<sub>reqd</sub> = F<sub>v</sub> / (D<sub>p</sub>*sigma<sub>p</sub>)<br>
= {{ lugParams.F_r }} / ({{ lugParams.D_p }}*{{ lugParams.sigma_p }})<br>
= {{ lugParams.t_reqd_bearing }}
<br>
t<sub>reqd</sub> / t = {{ lugParams.t_reqd_bearing }} / {{ lugParams.t }} = {{ lugParams.thickness_ratio }}
<br>
&sigma; = F<sub>v</sub> / A<sub>bearing</sub><br>
= F<sub>v</sub> / (D<sub>p</sub>*(t))<br>
= {{ lugParams.F_r }} / ({{ lugParams.D_p }}*{{ lugParams.t }})<br>
= {{ lugParams.sigma_b_calc }}
<br>
&sigma; / &sigma;<sub>p</sub> = {{ lugParams.sigma_b_calc }} / {{ lugParams.sigma_b }} = {{ lugParams.sigma_b_ratio }}
<br><br>
<b>Lug Thickness - Shear Stress</b>
<br>
t<sub>reqd</sub> = [F<sub>v</sub> / &sigma;<sub>s</sub>] / (2*L<sub>shear</sub>)<br>
= [{{ lugParams.F_r }} / {{ lugParams.sigma_s }}] / (2*{{ lugParams.L_shear }})<br>
= {{ lugParams.t_reqd_shear }}
<br>
t<sub>reqd</sub> / t = {{ lugParams.t_reqd_shear }} / {{ lugParams.t }} = {{ lugParams.thickness_ratio }}
<br>
&sigma; = F<sub>v</sub> / A<sub>shear</sub><br>
= F<sub>v</sub> / (2*t*L<sub>shear</sub>)<br>
= {{ lugParams.F_r }} / (2*{{ lugParams.t }}*{{ lugParams.L_shear }})<br>
= {{ lugParams.sigma_s_calc }}
<br>
&sigma; / &sigma;<sub>p</sub> = {{ lugParams.sigma_s_calc }} / {{ lugParams.sigma_s }} = {{ lugParams.sigma_s_ratio }}
<br><br>
<b>Shear Stress length</b>
<br>
&phi; = 55*D<sub>p</sub> / d<br>
= 55*{{ lugParams.D_p }} / {{ lugParams.d }}<br>
= {{ lugParams.phi_shear }}
<br>
L<sub>shear</sub> = (H - a2 - 0.5*d) + 0.5*D<sub>p</sub>*(1 - cos(&phi;))<br>
= ({{ lugParams.H }} - {{ lugParams.a2 }} - 0.5*{{ lugParams.d }}) + 0.5*{{ lugParams.D_p }}*(1 - cos({{ lugParams.phi_shear }}))<br>
= {{ lugParams.L_shear }}