<html>

<head>
    {% load static %}
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" type="text/css" href="{% static 'reporter/google.css' %}">

</head>

<body class="c28 container">
    <div>
        <p class="c24 c58"><span class="c10 c17"></span></p><a id="t.4e134c064bb8ad3e582d8b3bb39a9f856820e0c7"></a><a
            id="t.2"></a>
        <table class="c46">
            <tbody>
                <tr class="c48">
                    <td class="c47" colspan="1" rowspan="2">
                        <p class="c23"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 170.00px; height: 48.00px;"><img
                                    alt="" src="{% static 'reporter/images/image4.png' %}" style="width: 170.00px; height: 48.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                    title=""></span></p>
                    </td>
                    <td class="c9" colspan="1" rowspan="2">
                        <h3 class="c1 c6" id="h.i6lyjb5k7lzk"><span>Calcgen </span><span class="c10 c36 c44">Solutions</span></h3>
                        <h3 class="c1 c6" id="h.i6lyjb5k7lzk-1"><span class="c10 c36 c44">Project Specifications</span></h3>
                    </td>
                    <td class="c39" colspan="2" rowspan="1">
                        <p class="c23"><span class="c25 c50">Document No.:</span></p>
                    </td>
                </tr>
                <tr class="c63">
                    <td class="c30" colspan="1" rowspan="1">
                        <p class="c23"><span class="c10 c17">Page:</span></p>
                    </td>
                    <td class="c40" colspan="1" rowspan="1">
                        <p class="c1"><span class="c17">&nbsp;of </span></p>
                    </td>
                </tr>
                <tr class="c12">
                    <td class="c60" colspan="4" rowspan="1">
                        <h3 class="c1 c6" id="h.4cz19aw652tp"><span class="c10 c36 c44">VesselExpress</span></h3>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="c24 c26"><span class="c10 c17"></span></p>
    </div>
    <p class="c49 c24"><span class="c4"></span></p>
    <p class="c1 c35 c24"><span class="c10 c5"></span></p><a id="t.55ab17f2800478382e15b0b2597cfa9cb83ca6bc"></a><a id="t.0"></a>
    <table class="c46">
        <tbody>
            <tr class="c12">
                <td class="c57" colspan="1" rowspan="1">
                    <p class="c20"><span class="c4"></span></p>
                </td>
                <td class="c21" colspan="1" rowspan="1">
                    <p class="c1"><span class="c14">Prepared by:</span></p>
                </td>
                <td class="c21" colspan="1" rowspan="1">
                    <p class="c1"><span class="c14">Reviewed by:</span></p>
                </td>
                <td class="c21" colspan="1" rowspan="1">
                    <p class="c1"><span class="c14">Approved by:</span></p>
                </td>
            </tr>
            <tr class="c12">
                <td class="c55" colspan="1" rowspan="1">
                    <p class="c53"><span class="c10 c5">Name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c23"><span class="c4">Ajaya Dhakal</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c23 c24"><span class="c4"></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c23 c24" id="h.gjdgxs"><span class="c4"></span></p>
                </td>
            </tr>
            <tr class="c12">
                <td class="c41" colspan="1" rowspan="1">
                    <p class="c53"><span class="c10 c5">Title</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c20"><span class="c10 c5"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c20"><span class="c10 c5"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c20"><span class="c10 c5"></span></p>
                </td>
            </tr>
            <tr class="c12">
                <td class="c41" colspan="1" rowspan="1">
                    <p class="c23"><span class="c5 c10">Date</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c23"><span class="c4">2/2/2019</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c23 c24"><span class="c4"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c23 c24"><span class="c4"></span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c1 c35 c24"><span class="c10 c5"></span></p>
    <p class="c1 c24 c35"><span class="c10 c5"></span></p>
    <p class="c1 c35 c24"><span class="c10 c5"></span></p>
    <p class="c1 c35 c24"><span class="c10 c5"></span></p>
    <p class="c1 c35 c24"><span class="c10 c5"></span></p>
    <p class="c1 c35"><span class="c10 c5">Revision Log</span></p><a id="t.0766a72a8b9144a3790154467eb772a7ecd1be92"></a><a
        id="t.1"></a>
    <table class="c3">
        <tbody>
            <tr class="c12">
                <td class="c57" colspan="1" rowspan="1">
                    <p class="c1"><span class="c4">Rev. No</span></p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c1"><span class="c14">Description of Change</span></p>
                </td>
                <td class="c56" colspan="1" rowspan="1">
                    <p class="c1"><span class="c14">Date:</span></p>
                </td>
            </tr>
            <tr class="c12">
                <td class="c55" colspan="1" rowspan="1">
                    <p class="c1"><span class="c10 c5">01</span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c1"><span class="c4">Initial Release</span></p>
                </td>
                <td class="c61" colspan="1" rowspan="1">
                    <p class="c1"><span class="c4">2019-Feb-02</span></p>
                </td>
            </tr>
            <tr class="c12">
                <td class="c41" colspan="1" rowspan="1">
                    <p class="c1 c24"><span class="c10 c5"></span></p>
                </td>
                <td class="c51" colspan="1" rowspan="1">
                    <p class="c1 c24"><span class="c10 c5"></span></p>
                </td>
                <td class="c52" colspan="1" rowspan="1">
                    <p class="c1 c24"><span class="c10 c5"></span></p>
                </td>
            </tr>
            <tr class="c12">
                <td class="c41" colspan="1" rowspan="1">
                    <p class="c1 c24"><span class="c10 c5"></span></p>
                </td>
                <td class="c51" colspan="1" rowspan="1">
                    <p class="c1 c24"><span class="c4"></span></p>
                </td>
                <td class="c52" colspan="1" rowspan="1">
                    <p class="c1 c24"><span class="c4"></span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c7 c24"><span class="c4"></span></p>
    <p class="c7 c24"><span class="c4"></span></p>
    <p class="c7 c24"><span class="c4"></span></p>
    <p class="c7 c24"><span class="c4"></span></p>
    <hr style="page-break-before:always;display:none;">
    <p class="c49 c24"><span class="c4"></span></p>
    <p class="c1 c42"><span class="c5 c45">TABLE OF CONTENTS</span></p>
    <p class="c7 c24"><span class="c4"></span></p>
    <p class="c32"><span class="c5"><a class="c8" href="#h.30j0zll">SCOPE</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.30j0zll">3</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.1fob9te">DEFINITION</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.1fob9te">3</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.rqag0rqyom4i">PIPE AND FLANGE DATA NEEDED</a></span><span
            class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c5"><a class="c8" href="#h.rqag0rqyom4i">5</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.x1eqdwniihkq">COMPONENTS REQUIRED</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.x1eqdwniihkq">5</a></span></p>
    <p class="c43"><span class="c14"><a class="c8" href="#h.yde53jdys1c5">ASME 2:1 Ellip. Head</a></span><span class="c14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c14"><a class="c8" href="#h.yde53jdys1c5">5</a></span></p>
    <p class="c43"><span class="c14"><a class="c8" href="#h.kcq5kvsqr22">Cylinder</a></span><span class="c14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c14"><a class="c8" href="#h.kcq5kvsqr22">5</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.xwm57u59s2x7">OUTPUT REQUIRED</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.xwm57u59s2x7">6</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.pq53tjvaj1j6">Vessel Calculations (HTML and PDF) showing the
                vessel wall thickness</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.pq53tjvaj1j6">6</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.9n1fc2s568b5">MAWP</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.9n1fc2s568b5">6</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.5fdg0nobh1a5">Weight of Pressure Vessel (entire Weight)</a></span><span
            class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c5"><a class="c8" href="#h.5fdg0nobh1a5">6</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.fmrh1jvut3ut">Center of Gravity with Fluid or without fluid</a></span><span
            class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c5"><a class="c8" href="#h.fmrh1jvut3ut">6</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.pzsgk1blpfzf">Nozzle Schedule Table</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.pzsgk1blpfzf">6</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.lom5bxby69e">An outline drawing</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.lom5bxby69e">6</a></span></p>
    <p class="c2"><span class="c5"><a class="c8" href="#h.vuyb2cssatav">Version Control ability</a></span><span class="c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c5"><a class="c8" href="#h.vuyb2cssatav">6</a></span></p>
    <p class="c37"><span class="c14"><a class="c8" href="#h.i6lyjb5k7lzk">Calcgen Solutions</a></span><span class="c14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c14"><a class="c8" href="#h.i6lyjb5k7lzk">2</a></span></p>
    <p class="c37"><span class="c14"><a class="c8" href="#h.i6lyjb5k7lzk">Project Specifications</a></span><span class="c14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c14"><a class="c8" href="#h.i6lyjb5k7lzk">2</a></span></p>
    <p class="c16"><span class="c14"><a class="c8" href="#h.4cz19aw652tp">VesselExpress</a></span><span class="c14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c14"><a class="c8" href="#h.4cz19aw652tp">2</a></span></p>
    <p class="c7 c24"><span class="c4"></span></p>
    <p class="c7 c24"><span class="c4"></span></p>
    <hr style="page-break-before:always;display:none;">
    <p class="c24 c49"><span class="c4"></span></p>
    <ol class="c27 lst-kix_list_3-0 start" start="1">
        <li class="c13 c6">
            <h1 id="h.30j0zll" style="display:inline"><span class="c0">SCOPE</span></h1>
        </li>
    </ol>
    <p class="c7"><span class="c4">This document outlines the &nbsp;requirements for VesselExpress applications.
            VesselExpress is intended to perform a quick calculations based on user&rsquo;s inputs. As a result of
            calculations, user should be able to generate a calculations report (similar to Compress report) and an
            outline drawing. Version control is important. Each version of user&rsquo;s input and derived calculated
            data needs to be stored on the database. In addition, the chosen instances of outline drawing and report
            should also be stored to see the history. User should have option to chose US Customary ro SI units to
            build the pressure vessel. </span></p>
    <p class="c7 c24"><span class="c4"></span></p>
    <ol class="c27 lst-kix_list_3-0" start="2">
        <li class="c13 c6">
            <h1 id="h.1fob9te" style="display:inline"><span class="c0">DEFINITION</span></h1>
        </li>
    </ol>
    <p class="c23 c34"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 714.00px; height: 582.67px;"><img
                alt="" src="{% static 'reporter/images/image1.png' %}" style="width: 714.00px; height: 582.67px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
    <p class="c23 c34"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 610.15px; height: 865.50px;"><img
                alt="" src="{% static 'reporter/images/image2.png' %}" style="width: 610.15px; height: 865.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
    <h4 class="c6 c23"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 714.00px; height: 456.00px;"><img
                alt="" src="{% static 'reporter/images/image3.png' %}" style="width: 714.00px; height: 456.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></h4>
    <p class="c7 c24"><span class="c4"></span></p>
    <ol class="c27 lst-kix_list_3-0" start="3">
        <li class="c6 c13">
            <h1 id="h.rqag0rqyom4i" style="display:inline"><span class="c0">PIPE AND FLANGE DATA NEEDED</span></h1>
        </li>
    </ol>
    <p class="c23 c34"><span>Pipe data should come from a pipe chart. A pipe chart like &nbsp;</span><span class="c38"><a
                class="c8" href="https://www.google.com/url?q=https://www.tiogapipe.com/assets/files/pipe-chart.pdf&amp;sa=D&amp;ust=1550486970671000">this(link)</a></span><span>&nbsp;needs
            to be available to pull the property based on the pipe and selected pipe schedule. For VesselExpress, we
            will only use ASME B16.5 welding neck flanges. The flange data is also available on</span><span class="c38"><a
                class="c8" href="https://www.google.com/url?q=https://www.engineeringtoolbox.com/flanges-bolts-dimensions-d_464.html&amp;sa=D&amp;ust=1550486970672000">&nbsp;this
                link</a></span><span class="c10 c31 c19">. All classes (150, 300, 400, 600, 900, 1500 and 2500) classes
            of flange data shall be available. The flange dimensions should also be stored on database. The pipe and
            flange data do not change frequently so it should be on read only database for the users. Admins should be
            able to modify the information if required. Many other application need to pull these information as well.
        </span></p>
    <p class="c23 c24 c34"><span class="c10 c19 c31"></span></p>
    <p class="c7 c24"><span class="c4"></span></p>
    <ol class="c27 lst-kix_list_3-0" start="4">
        <li class="c13 c6">
            <h1 id="h.x1eqdwniihkq" style="display:inline"><span class="c0">COMPONENTS REQUIRED</span></h1>
        </li>
    </ol>
    <h2 class="c53 c6 c42" id="h.yde53jdys1c5"><span class="c4">ASME 2:1 Ellip. Head</span></h2>
    <h2 class="c53 c6 c42" id="h.kcq5kvsqr22"><span class="c4">Cylinder(s)</span></h2>
    <p class="c7"><span class="c10 c31 c19">Nozzles (Built with Pipe and Flange)</span></p>
    <p class="c7"><span class="c10 c31 c19">Skirt (Applicable to Vertical Vessel Only)</span></p>
    <p class="c7"><span class="c10 c31 c19">Saddle (Applicable to Horizontal Vessel Only)</span></p>
    <p class="c23 c24"><span class="c10 c31 c36"></span></p>
    <p class="c23 c24"><span class="c10 c31 c19"></span></p>
    <ol class="c27 lst-kix_list_3-0" start="5">
        <li class="c13 c6">
            <h1 id="h.xwm57u59s2x7" style="display:inline"><span class="c0">OUTPUT REQUIRED</span></h1>
        </li>
    </ol>
    <h1 class="c23 c6 c34" id="h.pq53tjvaj1j6"><span class="c4">Vessel Calculations (HTML and PDF) showing the vessel
            wall thickness</span></h1>
    <h1 class="c23 c6 c34" id="h.9n1fc2s568b5"><span class="c19 c33">MAWP</span></h1>
    <h1 class="c23 c6 c34" id="h.5fdg0nobh1a5"><span class="c33 c19">Weight of Pressure Vessel (entire Weight)</span></h1>
    <h1 class="c23 c6 c34" id="h.fmrh1jvut3ut"><span class="c33 c19">Center of Gravity with Fluid or without fluid</span></h1>
    <h1 class="c23 c6 c34" id="h.pzsgk1blpfzf"><span class="c33 c19">Nozzle Schedule Table</span></h1>
    <h1 class="c23 c6 c34" id="h.lom5bxby69e"><span class="c33 c19">An outline drawing</span></h1>
    <h1 class="c23 c6 c34" id="h.vuyb2cssatav"><span class="c19">Version Control ability </span></h1>
    <p class="c23 c24"><span class="c10 c31 c19"></span></p>
    <p class="c23 c24"><span class="c10 c31 c19"></span></p>
    <div>
        <p class="c24 c42 c64"><span class="c17 c50 c59"></span></p>
    </div>
</body>

</html>