.Input {
    /* width: 100%; */
    padding: 10px;
    box-sizing: border-box;
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
}

.Input1 {
    display: flex;
}

.Input2 {
    margin-left: 10px;
    width: 300px;
}

.Label {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.Label1 {
    font-weight: bold;
    display: block;
    margin-right: 15px;
    margin-top: 5px;
}

.Label2 {
    font-weight: bold;
    display: block;
    margin-right: 15px;
    margin-top: 5px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    margin-left: 10px;
    /* width: 100%; */
}

.select {
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    margin-left: 10px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.checkmark {
    margin-left: 10px;
    position: relative;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }